<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My To-Do list</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h3>Add Item:</h3>

   <form action="/list" method="POST">
        Priority:
  	<input list="priority" name="priority">
	<datalist id="priority">
       	  <option value="High">
    	  <option value="Medium">
    	  <option value="Low">
	</datalist>
	<br>
        Item:
        <input type="text" placeholder="item" name="item">
	<br>
	Date:        
	<input type="date" placeholder="date" name="date">
        <br><br>
	<button type="submit"> Submit </button>
  </form>
  <br> <br>
  <div>
    To Mark last high priority as done, click here: 
    <button id="update"> DONE HIGH </button>
  </div>
  <br><br>
  <div>
    To delete last low priority item, click here</h6>
    <button id="delete"> DELETE LOW</button>
  </div>

 <h3> LIST </h3> 
 <ul class="list">
  <% for(var i=0; i<list.length; i++) {%>
    <li class="quote">
      <span><%= list[i].priority %></span>
      <span><%= list[i].item %></span>
      <span><%= list[i].date %></span>
    </li>
  <% } %>
  </ul>

 <script src="main.js"></script>
</body>
</html>
